{% extends view_base_layout is defined ? view_base_layout : page_layout %}

{% trans_default_domain 'user_settings' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form.identifier, {'attr': {'hidden': 'hidden'}}) }}
    {% include '@ibexadesign/ui/component/table/table_header.html.twig' with {
        headline: user_setting_group.name
    } %}
    {% for user_setting in user_setting_group.settings %}
        <div class="bg-white p-4">
            {{ form_widget(attribute(form, user_setting.identifier)) }}
        </div>
    {% endfor %}
    {{ form_widget(form.update) }}
    {{ form_end(form) }}
{% endblock %}
